In [87]:
import pandas as pd

train = pd.read_excel(r"F:\Machine_learning\Machine Hack\Participants_Data\Data_Train.xlsx")
test = pd.read_excel(r"F:\Machine_learning\Machine Hack\Participants_Data\Data_Test.xlsx")
len(train)+len(test)

7797

In [88]:
train_1 = train.drop('Price',axis=1)

In [89]:
train_1 = train_1.append(test)

In [90]:
len(train_1)

7797

In [91]:
train_1.describe(include='all').head(2)

       Title Author Edition Reviews Ratings Synopsis Genre BookCategory
count   7797   7797    7797    7797    7797     7797  7797         7797
unique  6787   4372    3882      36     368     6771   363           11

In [92]:
train_1.columns

Index(['Title', 'Author', 'Edition', 'Reviews', 'Ratings', 'Synopsis', 'Genre',
       'BookCategory'],
      dtype='object')

In [93]:
train_1 = train_1[['Title', 'Author', 'Edition', 'Reviews', 'Ratings' , 'Genre',
       'BookCategory']]

In [94]:
train_1.head()
# test.head()

,Title,Author,Edition,Reviews,Ratings,Genre,BookCategory
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,Action & Adventure (Books),Action & Adventure
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts"
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,International Relations,Humour
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,Contemporary Fiction (Books),"Crime, Thriller & Mystery"
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,Photography Textbooks,"Arts, Film & Photography"

In [95]:
train_1.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Genre           0
BookCategory    0
dtype: int64

### Way to convert Single Feature into Multiple Features by splitting the Column

Following Edition Column is converted into three different Features. Cover Month and Year.

So We use  ``` train_1['Edition'].str.split(',–').str[0] ``` 
to get the 'Cover'

In [96]:
train_1['Edition'].head()

0    Paperback,– 10 Mar 2016
1     Paperback,– 7 Nov 2012
2    Paperback,– 25 Feb 1982
3     Paperback,– 5 Oct 2017
4    Hardcover,– 10 Oct 2006
Name: Edition, dtype: object

In [97]:
train_1['Cover'] = train_1['Edition'].str.split(',–').str[0]
train_1['Month'] = train_1['Edition'].str.split(',–').str[1].str.split(' ').str[2]
train_1['Year'] = train_1['Edition'].str.split(',–').str[1].str.split(' ').str[3]

In [98]:
train_1.head()

,Title,Author,Edition,Reviews,Ratings,Genre,BookCategory,Cover,Month,Year
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,Action & Adventure (Books),Action & Adventure,Paperback,Mar,2016
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",Paperback,Nov,2012
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,International Relations,Humour,Paperback,Feb,1982
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,Contemporary Fiction (Books),"Crime, Thriller & Mystery",Paperback,Oct,2017
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,Photography Textbooks,"Arts, Film & Photography",Hardcover,Oct,2006

In [99]:
train_1['Author'] = train_1['Author'].str.split(',')
maxi = 0
for i in train_1.Author:
    if maxi < len(i):
        maxi = len(i)
        
print('Max no of Authors :',maxi)

Max no of Authors : 7

In [100]:
# train_1['Author_1'] = train_1['Author'].str.split(',').str[0]
# train_1['Author_2'] = train_1['Author'].str.split(',').str[1]
# train_1['Author_3'] = train_1['Author'].str.split(',').str[2]
# train_1['Author_4'] = train_1['Author'].str.split(',').str[3]
# train_1['Author_5'] = train_1['Author'].str.split(',').str[4]
# train_1['Author_6'] = train_1['Author'].str.split(',').str[5]
# train_1['Author_7'] = train_1['Author'].str.split(',').str[6]

train_1['Author_1'] = train_1['Author'].str[0]
train_1['Author_2'] = train_1['Author'].str[1]
train_1['Author_3'] = train_1['Author'].str[2]
train_1['Author_4'] = train_1['Author'].str[3]
train_1['Author_5'] = train_1['Author'].str[4]
train_1['Author_6'] = train_1['Author'].str[5]
train_1['Author_7'] = train_1['Author'].str[6]

train_1['Author_1'].fillna('None',inplace=True)
train_1['Author_2'].fillna('None',inplace=True)
train_1['Author_3'].fillna('None',inplace=True)
train_1['Author_4'].fillna('None',inplace=True)
train_1['Author_5'].fillna('None',inplace=True)
train_1['Author_6'].fillna('None',inplace=True)
train_1['Author_7'].fillna('None',inplace=True)

In [101]:
train_1.head()

,Title,Author,Edition,Reviews,Ratings,Genre,BookCategory,Cover,Month,Year,Author_1,Author_2,Author_3,Author_4,Author_5,Author_6,Author_7
0,The Prisoner's Gold (The Hunters 3),[Chris Kuzneski],"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,Action & Adventure (Books),Action & Adventure,Paperback,Mar,2016,Chris Kuzneski,None,None,None,None,None,None
1,Guru Dutt: A Tragedy in Three Acts,[Arun Khopkar],"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",Paperback,Nov,2012,Arun Khopkar,None,None,None,None,None,None
2,Leviathan (Penguin Classics),[Thomas Hobbes],"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,International Relations,Humour,Paperback,Feb,1982,Thomas Hobbes,None,None,None,None,None,None
3,A Pocket Full of Rye (Miss Marple),[Agatha Christie],"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,Contemporary Fiction (Books),"Crime, Thriller & Mystery",Paperback,Oct,2017,Agatha Christie,None,None,None,None,None,None
4,LIFE 70 Years of Extraordinary Photography,[Editors of Life],"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,Photography Textbooks,"Arts, Film & Photography",Hardcover,Oct,2006,Editors of Life,None,None,None,None,None,None

In [102]:
train_1 = train_1.drop(['Author','Edition'],axis=1)
train_1.head()

,Title,Reviews,Ratings,Genre,BookCategory,Cover,Month,Year,Author_1,Author_2,Author_3,Author_4,Author_5,Author_6,Author_7
0,The Prisoner's Gold (The Hunters 3),4.0 out of 5 stars,8 customer reviews,Action & Adventure (Books),Action & Adventure,Paperback,Mar,2016,Chris Kuzneski,None,None,None,None,None,None
1,Guru Dutt: A Tragedy in Three Acts,3.9 out of 5 stars,14 customer reviews,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",Paperback,Nov,2012,Arun Khopkar,None,None,None,None,None,None
2,Leviathan (Penguin Classics),4.8 out of 5 stars,6 customer reviews,International Relations,Humour,Paperback,Feb,1982,Thomas Hobbes,None,None,None,None,None,None
3,A Pocket Full of Rye (Miss Marple),4.1 out of 5 stars,13 customer reviews,Contemporary Fiction (Books),"Crime, Thriller & Mystery",Paperback,Oct,2017,Agatha Christie,None,None,None,None,None,None
4,LIFE 70 Years of Extraordinary Photography,5.0 out of 5 stars,1 customer review,Photography Textbooks,"Arts, Film & Photography",Hardcover,Oct,2006,Editors of Life,None,None,None,None,None,None

In [105]:
train_1['BookCategory'].unique()

array(['Action & Adventure', 'Biographies, Diaries & True Accounts',
       'Humour', 'Crime, Thriller & Mystery', 'Arts, Film & Photography',
       'Sports', 'Language, Linguistics & Writing',
       'Computing, Internet & Digital Media', 'Romance', 'Comics & Mangas',
       'Politics'], dtype=object)

In [107]:
train_1['Genre'].nunique()

363

7